$square-size: 250px;

@mixin center-letter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0px;
  width: $square-size * 3;

  .square {
    height: $square-size;
    width: $square-size;
    border: solid 2px black;

    &[data-value="X"]::after {
      @include center-letter;
      content: "X";
    }

    &[data-value="O"]::after {
      @include center-letter;
      content: "O";
    }
  }
}
